.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 display: flex;
 justify-content: center;
 font-size: large;
}

.home-page h1{
 text-align: center;
}
.blok-contact-info{
  display: flex;
  flex-direction: column;
}
.contact-blok  {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-between;
 }



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
