/* header start*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  background-color: aqua;
  
}
.header h1 {
  margin: 5px;
  padding: 7px;
  
}
.nav {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.nav ul li {
  list-style: none;
}
.nav ul {
  display: flex;
  gap: 10px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  background-color: black;
}
.logout-btn {
  display: flex;
  width: 100%;
  justify-content: right;
  gap: 10px;
  align-items: center;
}
.logout-btn button {
  padding: 10px;
  height: fit-content;
}
/*header end*/

/* home-page start*/
.home-page {
  background-color: gray;
  padding: 20px;
}
.home-page h1 {
  text-align: center;
}
.contacts-data {
  display: flex;
  align-items: center;
  margin: 20px;
  justify-content: space-around;
  background-color: aliceblue;
}
.dashboard {
  margin: 20px;
  padding: 20px;
}
.contact-block{
  background-color: rgb(192, 225, 238, 0.7);
  border-radius: 5%;
  text-align: start;
  box-shadow: 0px 0px 20px grey;
  padding: 7px;
  margin: 10px;
}
.block-contact-info{
  padding: 5px;
  margin: 7px;
}
.block-name{
  padding: 5px;

}
.block-phoneNumber{
  padding: 5px;
 
}
.create-contact {
 
  background-color: rgb(192, 225, 238, 0.7);
  width: 30%;
  height: 40%;
  border-radius: 5%;
  text-align: center;
  box-shadow: 0px 0px 20px grey;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}


/* home-page end*/

/* footer start*/
footer {
  text-align: center;
  position: sticky;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 3;
  background-color: aqua;
}
/* footer end*/

/* Login Page start*/
.login-screen{
  display: flex;
  justify-content: center;
  
}
.login-form{
  background-color: rgb(192, 225, 238, 0.7);
  border-radius: 5%;
  text-align: start;
  box-shadow: 0px 0px 20px grey;
  padding: 7px;
  margin: 10px;
}
.login-form h2{
  text-align: center;
}
.email-input{

}
.password-input{

}


/* Login Page end*/